@use "../base/variables" as *;

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body);
    padding: toRem(80) 0;
}

footer {
    margin-top: toRem(60);
    text-align: center;
}