@use "../base/variables" as *;

.card {
    width: 325px;
    margin: 0 auto 25px;
    padding: 25px 30px 35px;
    border-radius: 10px;
    font-size: toRem(13px);
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

    &:last-of-type {
        margin-bottom: 0;
    }

	&--violet {
        background-color: var(--bg-violet);
        position: relative;
        z-index: 2;

        & p {
            position: relative;
            z-index: 3;
        }
    }

	&--gray {
        background-color: var(--bg-gray);
    }

	&--white {
        background-color: var(--bg-white);
    }

	&--black {
        background-color: var(--bg-black);
    }

	&__header {
        display: flex;
        gap: 15px;
        margin-bottom: 15px;
        font-stretch: semi-condensed;
    }

	&__img {
        width: 35px;
        height: 35px;
        border-radius: 50%;

        &--white {
            border: 2px solid rgba(255, 255, 255, 0.3);
        }

        &--violet {
            border: 2px solid rgb(117, 65, 200);
        }
    }

	&__name {
        color: var(--text-color-secondary);
        font-weight: var(--fw-bold);

        &--dark {
            color: var(--text-color-dark);
        }
    }

	&__status {
        color: rgba(255, 255, 255, 0.5);
        margin-top: -3px;

        &--dark {
            color: rgba(72, 85, 106, 0.50);
        }
    }

    &__quote {
        position: absolute;
        top: 0;
		right: 26px;
        z-index: 1;
    }

	&__heading {
        color: var(--text-color-primary);
        font-size: toRem(20px);
        font-stretch: semi-condensed;
        font-weight: var(--fw-bold);
        margin-bottom: 15px;
        line-height: 1.3;

        &--dark {
            color: var(--text-color-dark);
        }
    }

	&__text {
        color: rgba(255, 255, 255, 0.7);

        &--dark {
            color: rgba(72, 85, 106, 0.75);
        }
    }
}